* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgba(138, 131, 131, 0.925);
}

.personList-section {
  width: 90vw;
  max-width: 900px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .personList-section {
    grid-template-columns: repeat(3, 1fr);
  }
}
.person-article {
  background: #fff;
  border-radius: 1rem;
  padding: 1rem 2rem;
}
